# Tabular 
En esta libreta vamos a explorar el módulo "tabular" de fastai, que sirve para hacer redes neuronales para datos "tabulares" (es decir, el tipo de datos que encontrarías en un csv, por ejemplo)


> Vamos a explorar esto en el concurso de kaggle llamado "Rossmann Store Sales"

# Indice del notebook
- [Función de pérdida](#lostFunction)
- [Mejoras](#improve)
- [Modelo](#model)
- [Agregar más datos](#data)
- [¡Más datos!](#moredata)

In [1]:
import fastai.tabular.all as ft
import pandas as pd 
import torch
import torch.nn as nn
import torch.nn.functional as F
import numpy as np

In [8]:
!ls

Tabular_RN2.ipynb  data   images  mydata
archive		   faces  models  rossmann-store-sales.zip

In [9]:
pd.read_csv('mydata/train.csv')

/opt/conda/envs/fastai/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1
...,...,...,...,...,...,...,...,...,...
1017204,1111,2,2013-01-01,0,0,0,0,a,1
1017205,1112,2,2013-01-01,0,0,0,0,a,1
1017206,1113,2,2013-01-01,0,0,0,0,a,1
1017207,1114,2,2013-01-01,0,0,0,0,a,1
1017208,1115,2,2013-01-01,0,0,0,0,a,1

In [10]:
df = pd.read_csv('mydata/train.csv', low_memory=True, parse_dates=['Date'])

/opt/conda/envs/fastai/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [11]:
df.head(5)

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [12]:
df.describe()

,Store,DayOfWeek,Sales,Customers,Open,Promo,SchoolHoliday
count,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06,1.017209e+06
mean,5.584297e+02,3.998341e+00,5.773819e+03,6.331459e+02,8.301067e-01,3.815145e-01,1.786467e-01
std,3.219087e+02,1.997391e+00,3.849926e+03,4.644117e+02,3.755392e-01,4.857586e-01,3.830564e-01
min,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.800000e+02,2.000000e+00,3.727000e+03,4.050000e+02,1.000000e+00,0.000000e+00,0.000000e+00
50%,5.580000e+02,4.000000e+00,5.744000e+03,6.090000e+02,1.000000e+00,0.000000e+00,0.000000e+00
75%,8.380000e+02,6.000000e+00,7.856000e+03,8.370000e+02,1.000000e+00,1.000000e+00,0.000000e+00
max,1.115000e+03,7.000000e+00,4.155100e+04,7.388000e+03,1.000000e+00,1.000000e+00,1.000000e+00

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1017209 entries, 0 to 1017208
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   Store          1017209 non-null  int64
 1   DayOfWeek      1017209 non-null  int64
 2   Date           1017209 non-null  datetime64[ns]
 3   Sales          1017209 non-null  int64
 4   Customers      1017209 non-null  int64
 5   Open           1017209 non-null  int64
 6   Promo          1017209 non-null  int64
 7   StateHoliday   1017209 non-null  object
 8   SchoolHoliday  1017209 non-null  int64
dtypes: datetime64[ns](1), int64(7), object(1)
memory usage: 69.8+ MB

In [15]:
df = df.sort_values(['Date']).copy()

In [16]:
df

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
1017208,1115,2,2013-01-01,0,0,0,0,a,1
1016473,379,2,2013-01-01,0,0,0,0,a,1
1016472,378,2,2013-01-01,0,0,0,0,a,1
1016471,377,2,2013-01-01,0,0,0,0,a,1
1016470,376,2,2013-01-01,0,0,0,0,a,1
...,...,...,...,...,...,...,...,...,...
745,746,5,2015-07-31,9082,638,1,1,0,1
746,747,5,2015-07-31,10708,826,1,1,0,1
747,748,5,2015-07-31,7481,578,1,1,0,1
741,742,5,2015-07-31,10460,1016,1,1,0,1
0,1,5,2015-07-31,5263,555,1,1,0,1

<a id="lostFunction"><h1><strong>RMSPE</strong></h1></a>

viendo el kaggle, el problema se evalúa con RMSPE, definido por: 


> RMSPE($y'$, $y$) = $\sqrt{\frac{1}{n}\sum \left(\frac{y - y´}{y}\right)^2}$

Donde, como siempre $y'$ es la predicción y $y$ es el real. Además, aquellos en donde $y$ = 0 se ignoran.

In [17]:
def rmspe(yp, y):
    u = (y-yp)/y
    return torch.sqrt((u*u).mean())

In [18]:
df = df[df['Sales'] > 0].copy()

df['Sales'] = df['Sales'].astype('float64')

In [19]:
df['Sales'].max()

41551.0

In [20]:
df['Sales'] /= 1000. # Para quitar los nan que obtenía

In [21]:
df['Sales'].max()

41.551

Ahora, vamos a dividir en variables categóricas, continuas y "y"...

In [22]:
# Variables categoricas, nombres
cat_names = ['Store', 'DayOfWeek', 'Promo', 'SchoolHoliday', 'StateHoliday']
# Variables continuas, nombres
cont_names = [] 
# Variable a predecir
y_names = ['Sales']

In [23]:
len(df)

844338

In [24]:
X = list(range(len(df)))

In [25]:
valid_cut = len(df) - 20000

In [26]:
# df corresponde al dataframe
# procs es como las transformaciones
# cat_names son los nombres de mis variables categoricas
# cont_names son los nombres de mis variables continuas
# y_names es lo que voy a predecir
# splits como dividir en entrenamiento y validación
# FillMissing rellena mis datos faltantes 
src = ft.TabularPandas(df,
                      procs = [ft.Categorify, ft.FillMissing],
                      cat_names = cat_names,
                      cont_names = cont_names,
                      y_names = y_names, 
                      splits = (X[:valid_cut], X[valid_cut:])
                      )

In [27]:
dls = src.dataloaders(bs=1024)

In [28]:
batch = dls.one_batch()

In [29]:
# Variables categoricas, continuas y dependientes
cat, cont, y = batch

In [30]:
cat.shape # El 5 corresponde a nuestro cat_names y 2048 a nuestro batchsize

torch.Size([2048, 5])

In [31]:
cont.shape

torch.Size([2048, 0])

In [32]:
cat

tensor([[325,   6,   1,   1,   2],
        [916,   3,   2,   1,   2],
        [109,   5,   2,   1,   1],
        ...,
        [ 22,   5,   1,   2,   2],
        [758,   6,   1,   1,   2],
        [474,   6,   1,   1,   2]], device='cuda:0')

In [33]:
y

tensor([[7.9240],
        [6.9670],
        [6.9590],
        ...,
        [4.0530],
        [2.7530],
        [4.3000]], device='cuda:0')

In [34]:
learn = ft.tabular_learner(dls, opt_func=ft.ranger, metrics=rmspe)

In [35]:
learn.model

TabularModel(
  (embeds): ModuleList(
    (0): Embedding(1116, 81)
    (1): Embedding(8, 5)
    (2): Embedding(3, 3)
    (3): Embedding(3, 3)
    (4): Embedding(6, 4)
  )
  (emb_drop): Dropout(p=0.0, inplace=False)
  (bn_cont): BatchNorm1d(0, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (layers): Sequential(
    (0): LinBnDrop(
      (0): BatchNorm1d(96, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      (1): Linear(in_features=96, out_features=200, bias=False)
      (2): ReLU(inplace=True)
    )
    (1): LinBnDrop(
      (0): BatchNorm1d(200, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      (1): Linear(in_features=200, out_features=100, bias=False)
      (2): ReLU(inplace=True)
    )
    (2): LinBnDrop(
      (0): Linear(in_features=100, out_features=1, bias=True)
    )
  )
)

In [36]:
learn.summary()

TabularModel (Input shape: ['2048 x 5', '2048 x 0'])
================================================================
Layer (type)         Output Shape         Param #    Trainable
================================================================
Embedding            2048 x 81            90,396     True
________________________________________________________________
Embedding            2048 x 5             40         True
________________________________________________________________
Embedding            2048 x 3             9          True
________________________________________________________________
Embedding            2048 x 3             9          True
________________________________________________________________
Embedding            2048 x 4             24         True
________________________________________________________________
Dropout              2048 x 96            0          False
________________________________________________________________
BatchNorm1d          2048 x 96            192        True
________________________________________________________________
Linear               2048 x 200           19,200     True
________________________________________________________________
ReLU                 2048 x 100           0          False
________________________________________________________________
BatchNorm1d          2048 x 200           400        True
________________________________________________________________
Linear               2048 x 100           20,000     True
________________________________________________________________
ReLU                 2048 x 100           0          False
________________________________________________________________
Linear               2048 x 1             101        True
________________________________________________________________

Total params: 130,371
Total trainable params: 130,371
Total non-trainable params: 0

Optimizer used: <function ranger at 0x7f865a189e50>
Loss function: FlattenedLoss of MSELoss()

Callbacks:
  - TrainEvalCallback
  - Recorder
  - ProgressCallback

In [37]:
learn.lr__find()

AttributeError: 'TabularLearner' object has no attribute 'lr__find'

In [38]:
learn.fit_one_cycle(20, 1e-3, div=2, pct_start=0.5)

<a id="improve"><h1><strong>Mejoras</strong></h1></a>

Podemos hacer algunas mejoras: 
1. Función de pérdida
2. Podemos cambiar el modelo (más capas, dropout...)
3. Agregar más datos (agregar mes, temperatura, que si llueve, etc etc. Agregar TODO lo que podría tener que ver)

# Función de pérdida

Si lo pensamos bien, **no estamos optimizando lo que queremos optimizar**. Estamos usando MSE, pero nos pidieron optimizar MSPE (el sqrt no importa)

In [39]:
def mspe(yp, y):
    u = (y-yp)/y
    return (u*u).mean()

In [40]:
learn = ft.tabular_learner(dls,
                          loss_func = mspe, 
                          opt_func = ft.ranger, 
                          metrics = rmspe)

In [41]:
learn.fit_one_cycle(20, 1e-3, div=2, pct_start = 0.5)

<a id="model"><h1><strong>Modelo</strong></h1></a>

Fastai nos permite configurar el modelo mediante la variable **layers**, que es una lista con las capas intermedias.  

También, podemos ajustar los tamañaos de los embeddings con un diccionario llamado **emb_szs**

Y con la variable **config** podemos configurar algunas otras cosas del modelo creado. 

Por supueso, podríamos crear nuestro propio modelo, pero fastai lo hace bastante bien por nosotros, y ya no nos tenemos que preocupar por los tamaños de los embeddings.

In [42]:
# el arreglo de layers corresponde al número de neuronas
# en cada capa, por defecto es [200, 100]
# emb_szs es por si quieres cambiar los tamaños
# de los embeddings
## *Store* es una columna
learn = ft.tabular_learner(dls,
                          loss_func = mspe,
                           emb_szs = {'Store': 16},
                           layers = [256, 128, 128], 
                           config = ft.tabular_config(act_cls=nn.LeakyReLU(inplace=True)),
                          opt_func = ft.ranger, 
                          metrics = rmspe)

In [43]:
learn.model

TabularModel(
  (embeds): ModuleList(
    (0): Embedding(1116, 16)
    (1): Embedding(8, 5)
    (2): Embedding(3, 3)
    (3): Embedding(3, 3)
    (4): Embedding(6, 4)
  )
  (emb_drop): Dropout(p=0.0, inplace=False)
  (bn_cont): BatchNorm1d(0, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (layers): Sequential(
    (0): LinBnDrop(
      (0): BatchNorm1d(31, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      (1): Linear(in_features=31, out_features=256, bias=False)
      (2): LeakyReLU(negative_slope=0.01, inplace=True)
    )
    (1): LinBnDrop(
      (0): BatchNorm1d(256, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      (1): Linear(in_features=256, out_features=128, bias=False)
      (2): LeakyReLU(negative_slope=0.01, inplace=True)
    )
    (2): LinBnDrop(
      (0): BatchNorm1d(128, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      (1): Linear(in_features=128, out_features=128, bias=False)
      (2): LeakyReLU(negative_slope=0.01, inplace=True)
    )
    (3): LinBnDrop(
      (0): Linear(in_features=128, out_features=1, bias=True)
    )
  )
)

In [44]:
learn.fit_one_cycle(20, 1e-3, div=2, pct_start = 0.5)

<a id="data"><h1><strong>Agregar más datos</strong></h1></a>

Tenemos datos sobre la fecha que no estamos usando para nada

In [45]:
df = pd.read_csv('mydata/train.csv', low_memory=True, parse_dates=['Date'])

/opt/conda/envs/fastai/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [46]:
df = df.sort_values(['Date']).copy()
#add_datepart le pasas un dataframe, donde esta una fecha
#y lo que hace es añadir columnas que son relevantes
#a la fecha
ft.add_datepart(df, 'Date')

,Store,DayOfWeek,Week,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Year,...,Day,Dayofweek,Dayofyear,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start,Elapsed
1017208,1115,2,1,0,0,0,0,a,1,2013,...,1,1,1,False,True,False,True,False,True,1356998400
1016473,379,2,1,0,0,0,0,a,1,2013,...,1,1,1,False,True,False,True,False,True,1356998400
1016472,378,2,1,0,0,0,0,a,1,2013,...,1,1,1,False,True,False,True,False,True,1356998400
1016471,377,2,1,0,0,0,0,a,1,2013,...,1,1,1,False,True,False,True,False,True,1356998400
1016470,376,2,1,0,0,0,0,a,1,2013,...,1,1,1,False,True,False,True,False,True,1356998400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
745,746,5,31,9082,638,1,1,0,1,2015,...,31,4,212,True,False,False,False,False,False,1438300800
746,747,5,31,10708,826,1,1,0,1,2015,...,31,4,212,True,False,False,False,False,False,1438300800
747,748,5,31,7481,578,1,1,0,1,2015,...,31,4,212,True,False,False,False,False,False,1438300800
741,742,5,31,10460,1016,1,1,0,1,2015,...,31,4,212,True,False,False,False,False,False,1438300800
0,1,5,31,5263,555,1,1,0,1,2015,...,31,4,212,True,False,False,False,False,False,1438300800

In [47]:
df.drop('DayOfWeek', axis=1, inplace=True)

In [49]:
df = df[df['Sales'] > 0].copy()

df['Sales'] = df['Sales'].astype('float64')/1000

In [50]:
df

,Store,Week,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Year,Month,Day,Dayofweek,Dayofyear,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start,Elapsed
1016447,353,1,3.139,820,1,0,a,1,2013,1,1,1,1,False,True,False,True,False,True,1356998400
1016429,335,1,2.401,482,1,0,a,1,2013,1,1,1,1,False,True,False,True,False,True,1356998400
1016606,512,1,2.646,625,1,0,a,1,2013,1,1,1,1,False,True,False,True,False,True,1356998400
1016588,494,1,3.113,527,1,0,a,1,2013,1,1,1,1,False,True,False,True,False,True,1356998400
1016624,530,1,2.907,532,1,0,a,1,2013,1,1,1,1,False,True,False,True,False,True,1356998400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
745,746,31,9.082,638,1,1,0,1,2015,7,31,4,212,True,False,False,False,False,False,1438300800
746,747,31,10.708,826,1,1,0,1,2015,7,31,4,212,True,False,False,False,False,False,1438300800
747,748,31,7.481,578,1,1,0,1,2015,7,31,4,212,True,False,False,False,False,False,1438300800
741,742,31,10.460,1016,1,1,0,1,2015,7,31,4,212,True,False,False,False,False,False,1438300800
0,1,31,5.263,555,1,1,0,1,2015,7,31,4,212,True,False,False,False,False,False,1438300800

Además, tenemos datos sobre las tiendas!

In [51]:
stores = pd.read_csv('mydata/store.csv')

In [52]:
stores

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1110,1111,a,a,1900.0,6.0,2014.0,1,31.0,2013.0,"Jan,Apr,Jul,Oct"
1111,1112,c,c,1880.0,4.0,2006.0,0,NaN,NaN,NaN
1112,1113,a,c,9260.0,NaN,NaN,0,NaN,NaN,NaN
1113,1114,a,c,870.0,NaN,NaN,0,NaN,NaN,NaN
1114,1115,d,c,5350.0,NaN,NaN,1,22.0,2012.0,"Mar,Jun,Sept,Dec"

In [53]:
stores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Store                      1115 non-null   int64
 1   StoreType                  1115 non-null   object
 2   Assortment                 1115 non-null   object
 3   CompetitionDistance        1112 non-null   float64
 4   CompetitionOpenSinceMonth  761 non-null    float64
 5   CompetitionOpenSinceYear   761 non-null    float64
 6   Promo2                     1115 non-null   int64
 7   Promo2SinceWeek            571 non-null    float64
 8   Promo2SinceYear            571 non-null    float64
 9   PromoInterval              571 non-null    object
dtypes: float64(5), int64(2), object(3)
memory usage: 87.2+ KB

In [54]:
# Primero le asginamos el indice store
# para que al momento de juntarlo
# decirle que se una en ese indice
df_stores = df.join(stores.set_index('Store'), on='Store')

In [55]:
df_stores.head(4)

,Store,Week,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Year,Month,...,Elapsed,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
1016447,353,1,3.139,820,1,0,a,1,2013,1,...,1356998400,b,b,900.0,NaN,NaN,1,14.0,2013.0,"Feb,May,Aug,Nov"
1016429,335,1,2.401,482,1,0,a,1,2013,1,...,1356998400,b,a,90.0,NaN,NaN,1,31.0,2013.0,"Jan,Apr,Jul,Oct"
1016606,512,1,2.646,625,1,0,a,1,2013,1,...,1356998400,b,b,590.0,NaN,NaN,1,5.0,2013.0,"Mar,Jun,Sept,Dec"
1016588,494,1,3.113,527,1,0,a,1,2013,1,...,1356998400,b,a,1260.0,6.0,2011.0,0,NaN,NaN,NaN

In [56]:
# Para ver todas las columnas cuando ya son demasiadas
df_stores.head().T

,1016447,1016429,1016606,1016588,1016624
Store,353,335,512,494,530
Week,1,1,1,1,1
Sales,3.139,2.401,2.646,3.113,2.907
Customers,820,482,625,527,532
Open,1,1,1,1,1
Promo,0,0,0,0,0
StateHoliday,a,a,a,a,a
SchoolHoliday,1,1,1,1,1
Year,2013,2013,2013,2013,2013
Month,1,1,1,1,1
Day,1,1,1,1,1
Dayofweek,1,1,1,1,1
Dayofyear,1,1,1,1,1
Is_month_end,False,False,False,False,False
Is_month_start,True,True,True,True,True
Is_quarter_end,False,False,False,False,False
Is_quarter_start,True,True,True,True,True
Is_year_end,False,False,False,False,False
Is_year_start,True,True,True,True,True
Elapsed,1356998400,1356998400,1356998400,1356998400,1356998400
StoreType,b,b,b,b,a
Assortment,b,a,b,a,c
CompetitionDistance,900,90,590,1260,18160
CompetitionOpenSinceMonth,NaN,NaN,NaN,6,NaN
CompetitionOpenSinceYear,NaN,NaN,NaN,2011,NaN
Promo2,1,1,1,0,0
Promo2SinceWeek,14,31,5,NaN,NaN
Promo2SinceYear,2013,2013,2013,NaN,NaN
PromoInterval,"Feb,May,Aug,Nov","Jan,Apr,Jul,Oct","Mar,Jun,Sept,Dec",NaN,NaN

In [57]:
df_stores.columns

Index(['Store', 'Week', 'Sales', 'Customers', 'Open', 'Promo', 'StateHoliday',
       'SchoolHoliday', 'Year', 'Month', 'Day', 'Dayofweek', 'Dayofyear',
       'Is_month_end', 'Is_month_start', 'Is_quarter_end', 'Is_quarter_start',
       'Is_year_end', 'Is_year_start', 'Elapsed', 'StoreType', 'Assortment',
       'CompetitionDistance', 'CompetitionOpenSinceMonth',
       'CompetitionOpenSinceYear', 'Promo2', 'Promo2SinceWeek',
       'Promo2SinceYear', 'PromoInterval'],
      dtype='object')

In [58]:
cat_names = ['Store', 'Dayofweek', 'Open', 'Promo', 'StateHoliday',
            'SchoolHoliday', 'Year', 'Month', 'Week', 'Dayofweek',
            'Is_month_end', 'Is_month_start', 'Is_quarter_end',
            'Is_quarter_start', 'Is_year_end', 'Is_year_start', 'StoreType', 'Assortment',
            'CompetitionOpenSinceYear', 'CompetitionOpenSinceMonth', 'Promo2', 'PromoInterval']

cont_names = ['Day', 'Dayofyear', 'Elapsed', 'CompetitionDistance', 'CompetitionOpenSinceMonth', 'Promo2SinceWeek', 'Promo2SinceYear']

y_names = ['Sales']

In [59]:
X = list(range(len(df)))

In [60]:
valid_cut = len(df) - 20000

In [61]:
src = ft.TabularPandas(df_stores,
                      procs = [ft.Categorify, ft.FillMissing],
                      cat_names = cat_names,
                      cont_names = cont_names,
                      y_names = y_names, 
                      splits = (X[:valid_cut], X[valid_cut:])
                      )

In [62]:
dls = src.dataloaders(bs=1024)

In [63]:
learn = ft.tabular_learner(dls,
                          loss_func = mspe,
                           emb_szs = {'Store': 16},
                           layers = [256, 128], 
                           config = ft.tabular_config(act_cls=nn.LeakyReLU(inplace=True)),
                          opt_func = ft.ranger, 
                          metrics = rmspe)

In [64]:
learn.model

TabularModel(
  (embeds): ModuleList(
    (0): Embedding(1116, 16)
    (1): Embedding(8, 5)
    (2): Embedding(2, 2)
    (3): Embedding(3, 3)
    (4): Embedding(6, 4)
    (5): Embedding(3, 3)
    (6): Embedding(4, 3)
    (7): Embedding(13, 7)
    (8): Embedding(53, 15)
    (9): Embedding(8, 5)
    (10): Embedding(3, 3)
    (11): Embedding(3, 3)
    (12): Embedding(3, 3)
    (13): Embedding(3, 3)
    (14): Embedding(3, 3)
    (15): Embedding(3, 3)
    (16): Embedding(5, 4)
    (17): Embedding(4, 3)
    (18): Embedding(24, 9)
    (19): Embedding(13, 7)
    (20): Embedding(3, 3)
    (21): Embedding(4, 3)
    (22): Embedding(3, 3)
    (23): Embedding(3, 3)
    (24): Embedding(3, 3)
    (25): Embedding(3, 3)
  )
  (emb_drop): Dropout(p=0.0, inplace=False)
  (bn_cont): BatchNorm1d(7, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
  (layers): Sequential(
    (0): LinBnDrop(
      (0): BatchNorm1d(129, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      (1): Linear(in_features=129, out_features=256, bias=False)
      (2): LeakyReLU(negative_slope=0.01, inplace=True)
    )
    (1): LinBnDrop(
      (0): BatchNorm1d(256, eps=1e-05, momentum=0.1, affine=True, track_running_stats=True)
      (1): Linear(in_features=256, out_features=128, bias=False)
      (2): LeakyReLU(negative_slope=0.01, inplace=True)
    )
    (2): LinBnDrop(
      (0): Linear(in_features=128, out_features=1, bias=True)
    )
  )
)

In [65]:
learn.fit_one_cycle(20, 1e-3, div=2, pct_start = 0.5)

<a id="moredata"><h1><strong>¡Aún más datos!</strong></h1></a>

Básicamente los que ganaron hicieron un feature engineerung muuuuy poderos
https://github.com/fastai/fastai/blob/master/dev_nbs/course/rossman_data_clean.ipynb